@charset "UTF-8";

/* 
    Paleta de cores
    Verde: #49a09d
    Lilás: #5f2c82
*/

* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

html, body {
    background-color: #2c3a82;
    min-width: 100vw;
    min-height: 100vh;
    transition: linear-gradient 1s ease;
}

main {
    min-width: 100vw;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

section.login {
    height: 300px;
    min-height: 500px;
    width: 245px;
    overflow: hidden;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0px 0px 10px #00000072;
    display: block;

    transition: width .5s, height .6s;
    transition-timing-function: ease;
}

section.login div.imagem {
    background: #5f2c82 url(../imagens/fundo-natureza1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    min-height: 200px;
    display: block;
    transition: background-position .6s ease-out;
    transition: background-image .5s ease;
    transition: width .3 ease;
}

section.login div.imagem:hover {
    background-position: left center;
    transition: .6s;
}

section.login div.formulario {
    padding: 12px;
}

div.formulario > h1 {
    text-align: center;
    margin-bottom: 10px;
}

div.formulario > p {
    font-size: 0.9em;
}

form div.campo {
    /* background-color: #0f1c5e; */
    display: block;
    width: 100%;
    height: 34px;
    border-radius: 6px;
    margin: 5px 0;
    text-align: center;
    justify-items: center;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.inputIcon {
    margin: 1px;
    height: 26px;
    width: 26px;
}

form > input[type=submit] {
    background-color: #0bb582;
    display: block;
    font-size: 1em;
    width: 100%;
    height: 35px;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

div.campo input {
    padding: 3px 5px;
    width: 197px;
    border-radius: 3px;
    border: 1px solid black;
}
div.campo input:focus-within {
    outline: 2px solid rgba(138, 138, 138, 0.526);
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.378);
}

form > input[type=submit]:hover {
    filter: brightness(84%);
    -webkit-filter:  brightness(84%);

}

form a.botao {
    background-color: #ffffff;
    color: #0f1c5e;
    display: block;
    text-align: center;
    font-size: 1em;
    width: 100%;
    height: 35px;
    border: 1px solid #19cfad;
    border-radius: 6px;
    text-decoration: none;
    padding-top: 5px;
    margin-top: 6px;
}

form a.botao:hover {
    filter: brightness(88%);
    -webkit-filter:  brightness(88%);
}

form a.botao span {
    font-size: 0.9em;
}

            /* SOCIAL MEDIAS -START */
.socialIcons {
    /* border: 1px solid red; apagar dps de configurar icones */
    text-align: center;
    margin-top: 22px;
}

figure {
    position: relative;
    display: inline-block;
    text-align: center;
    margin: 9px 7px;
    padding: 2px;
    /* border: 2px solid blue; apagar dps de configurar icones */
    font-family: Tahoma, sans-serif;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.803);
}

figure:hover {
    cursor: pointer;
    text-decoration: underline;
}

figcaption {
    /* border: 1px solid black; apagar dps de configurar icones */
    text-align: center;
    font-size: .9em;
    margin-bottom: 3px;
}
  
.socialIcons img {
    /* border: 1px solid black; apagar dps de configurar icones */
    width: 40px;
    height: 40px;
    margin: 2px 15px;
    padding: 0px;
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
    transition: .3s;
}
figure:hover img {
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(0%);
    transition: .5s;
}

.float-animation {
    transform-origin: 50%;
    position: relative;
    animation: float 2.9s infinite ease-in-out;
}
    @keyframes float {
        0% {
            transform: scale(1);
            transform: translatey(0px);
            box-shadow: 0 5px 15px 0px #00000080;
        }
        50% {
            transform: scale(1);
            transform: translatey(-8px);
            box-shadow: 0 25px 15px 0px #0000002b;
        }
        100% {
            transform: scale(1);
            transform: translatey(0px);
            box-shadow: 0 5px 15px 0px #00000080;
        }
    }

.float-animation2 {
    transform-origin: 50%;
    position: relative;
    animation: float2 2.9s infinite ease-in-out;
}
    @keyframes float2 {
        0% {
            transform: scale(1);
            transform: translatey(-8px);
            /* box-shadow: 0 5px 15px 0px #00000080; */
            box-shadow: 0 25px 15px 0px #0000002b;
        }
        50% {
            transform: scale(1);
            transform: translatey(0px);
            /* box-shadow: 0 25px 15px 0px #0000002b; */
            box-shadow: 0 5px 15px 0px #00000080;
        }
        100% {
            transform: scale(1);
            transform: translatey(-8px);
            /* box-shadow: 0 5px 15px 0px #00000080; */
            box-shadow: 0 25px 15px 0px #0000002b;
        }
    }
                /* SOCIAL MEDIAS -END */